@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");



:root {
  --paragraph-color: #3d6f9d;
  --header-color:  #2c4964;
  --navbar-hover-color:  #007aff;
  --services-header-bg-color: #1977cc;
  --background-color: #ffffff;
  --background-image: url("@assets/background.png");
  --navbar-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  --navbar-border: 2px solid #fff;
  --booking-background:  #f1f7fd;
  --pricing-th-color: white;

}

.dark {
  --paragraph-color: #adb4c2;
  --header-color:  #acb1be;
  --navbar-hover-color:  #838db7;
  --services-header-bg-color: #1b264c;
  --background-color:   #0e111c;
  --navbar-shadow: 0px 2px 15px rgb(29 133 227);
  --background-image: url("@assets/background-dark.png");
  --navbar-border: 2px solid #000;
  --booking-background: #1f253c;
  --pricing-th-color:#adb4c2;
}

body {
  background-color: var(--background-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  h2 {
    font-size: 32px;
    font-weight: bold;
    color: var(--header-color);
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    text-align: center;
  }

  h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    color: var(--header-color);
  }
  p {
    margin-top: 20px;
    font-family: "Raleway", sans-serif;
    color: var(--paragraph-color);//#3d6f9d;
    font-weight: 500;
  }

  input {
    height: 44px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px !important;
    display: block;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    appearance: none;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(222, 226, 230);
    margin-bottom: 20px;
    &:focus {
      border-color: #1977cc;
      outline: none;
    }
  }

  select {
    height: 44px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 10px !important;
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(114, 121, 129);
    appearance: none;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(222, 226, 230);
    margin-bottom: 20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-position-x: calc(100% - 12px), calc(100% - 12px);
    background-position-y: 50%, 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: 16px 12px, 16px 12px;

    &:focus {
      border-color: #1977cc;
      outline: none;
    }
  }
}

@media (max-width: 768px) {

  main {

    h2 {
      padding-left: 0px;
      text-align: left;
      font-size: 28px;
    }

    p {
      text-align: left;
    }
  }

}
