@import "./Global.scss";

.welcome-container {
  background: var(--background-image);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-right: 50px;

  a {
    padding: 12px 35px;
    border-radius: 25px;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    background: var(--navbar-hover-color);
    background: #1977cc;
    text-decoration: none;

    &:hover {
      background-color: #3291e6;
      background-color: var(--services-header-bg-color);
    }
  }
}

.container {
  padding: 50px;
  width: 650px;
  max-width: 1350px;
}

.container h1 {
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--paragraph-color);
  letter-spacing: 1px;
}
.container h4 {
  font-family: "Raleway", sans-serif;
  color: var(--paragraph-color);
  margin-top: 15px;
}

@media (max-width: 768px) {
  .welcome-container {
    background-position: calc(100% - 60%) center;
    padding: 0px;
    height: auto;
    .container {
      padding: 20px;
      width: 100%;
      h1 {
        font-size: 30px;
      }
    }
    a {
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }
}
