@import "./Global.scss";

.header {
  padding: 15px 0;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  width: 100%;
  box-shadow: var(--navbar-shadow);
  background-color: var(--background-color);

  h1 {
    width: 400px;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    flex-shrink: 1;
    a {
      color: var(--header-color);
    }
  }

  a {
    text-decoration: none;
    color: var(--paragraph-color);
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
  }

  .navbar-container {
    padding: 0 100px;
    display: flex;
    width: 100%;
  }

  ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 15px;

    a {
      border-bottom:  var(--navbar-border);
      &:hover,
      &:focus {
        color: var(--navbar-hover-color);
        border-color: var(--navbar-hover-color);
      }
    }
  }

  .navbar {
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-shrink: 0;
  }

  .booking-button {
    margin-left: 25px;
    background: #1977cc;
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
}
