@import "./global.scss";

.booking-container {
  background-color: #f1f7fd;
  margin-top: 0px;
  padding-top: 15px;

  .booking {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    margin-left: 100px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;

    div {
     
      flex: 1 1 0px;
    }

    .error {
      color: red;
      font-size: 14px;
      margin-bottom: 5px;
      margin-left: 2px;
    }

    .book {
      background-color: #1977cc;
      border: 0;
      padding: 10px 35px;
      border-radius: 50px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
    }

    .booking-column1 {
      padding-left: 0px;
      padding-right: 22px;
    }

    .booking-column2 {
      padding-left: 22px;
      padding-right: 22px;
    }

    .booking-column3 {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-left: 22px;
      padding-right: 0px;
    }

    .time-slot {
      display: flex;
      align-items: center;
      margin-bottom: 14px;
    }

    .time {
      width: 100%;
    }

    button {
      min-width: 200px;
      height: 34px;
      border-radius: 17px;
      border: none;
      background: #1977cc;
      color: #fff;
      cursor: pointer;
    }
  }
}
