@import "./global.scss";

.our-team {
  padding-left: 50px;
  padding-right: 50px;

  p {
    text-align: center;
    margin-top: 20px;
  }

  .doctors {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    gap: 0px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
