@import "./Global.scss";

.time-slot {
    label {
        flex: 1 1 0px;
    }
    p {
        margin: 0px;
        flex: 1 1 0px
    }
    button {
        flex: 1 1 0px;
    }
    .booked {
        color: var(--paragraph-color);
    }
}